*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{

    background-image: url(/images/resi.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
 
}




header{
    border-radius: 0px 0px 15px 15px ;
    box-shadow: 0px 0px 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

img{
    margin: 20px;
    height: 70px;
}

img:hover{
    cursor: pointer;
}

nav{
    margin: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


nav a{
    color: #004aad;
    font-size: 20px;
    padding-right: 20px;
    text-decoration: none;
    align-items: center;
}

.padre{
    grid-area: left;
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    background-color: white;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 0 10px;
    text-align: center;
    justify-content: center;
}

.titulo{
    padding-top: 15px;
    font-size: 35px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-left: 25px;
    margin-right: 25px;
    
    text-align: center;
    color: #004aad;
}

button{
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    background-color: #004aad;
    font-weight: bold;
    color: white;
}

.container{
    padding: 20px;
    background-color: white;
    width: 200px;
    text-align: center;
}
@media(max-width: 150px){
    .container{
        width: 150px;
   }
}

.abuelo{
    margin-top: 30px;
    margin-inline: 120px;
    margin-bottom: 50px;
    display: grid;
    grid-template-areas: 
    "left  right";
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px;
    text-align: center;
    align-items: center;
}

.right{
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    width: 55%;
    

}

h3{
    font-size: 18px;
}

p{
    font-size: 12px;
}

.busqueda{
    padding-top: 15px;
    font-size: 35px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    text-align: center;
    background-color: white;
    box-shadow: 5px 0px 5px 5px;
}

.buscar{
    justify-content: left;
    height: 25px;
}

.navbar{
    margin-inline: 8%;
    border-radius: 15px;
}

.propuesta{
    margin-inline: 8%;
    margin-top: 25px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 15px black;
}

.imagen{
    width: 90%;


}

h2{
    font-size: 30px;

}

.abueloresi{
    margin-top: 30px;
    margin-inline: 120px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    height: 40%;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px;
    text-align: center;
    align-items: center;
}


.bodyini{
    font-family: Arial, sans-serif;
    background-color: #cecece   ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(/images/resi.jpg);
    background-size: cover;
    
}
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    box-shadow: 0 0 8px  #3a3a3a;
   
}
.login-container h2 {
    margin-bottom: 20px;
}
.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="email"],
.login-container input[type="date"]
{
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #b4b4b4;
    border-radius: 4px;
    
}
.login-container input[type="submit"],
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
    justify-content: center;
 
}
.login-container input[type="submit"]:hover {
    background-color: #0056b3;
}


.imgini{
    height: 147px;
    display: flex;
    flex-wrap: wrap;
}

.registrate-link {
    color: #337ab7;
    text-decoration: none;
}

.registrate-link:hover {
    color: #23527c;
}

.olvide-contrasena {
    margin-top: 10px;
}

.olvide-contrasena a {
    color: #337ab7;
    text-decoration: none;
}

.olvide-contrasena a:hover {
    color: #23527c;
}
