
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;600&family=Unbounded:wght@500&display=swap');
 
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   font-family: 'Heebo', sans-serif;
}

:root{

   --secundario:#e5e6da;
   --beige:#efbe6e;
   --fondo:#41033c;

}

body{

   background-color: var(--fondo);
   color:var(--beige)
}
header{

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 1rem;
   background-color: var(--beige);
   color: var(--fondo);
   border-top-left-radius: 3rem;
   border-top-right-radius: 3rem;
}

main{

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 3rem;
}

.instrucciones{
   margin-bottom: 2rem;
}

.marcador{

   background-color: var(--secundario);
   padding: 1rem 2rem;
   border-radius: 1rem;
   font-weight:bold;
   display: flex;
   align-items: center;
   color: var(--fondo);
   font-weight: 600;
   margin-bottom: 2rem;
}

.marcador .nombre{

   position: absolute;
   color: var(--beige);
   background-color: var(--fondo);
   line-height: 1;
   padding: .5rem;
   border-radius: .5rem;
   border: 2px solid var(--secundario) ;

}
.marcador .nombre-jugador{

   right:58%;
}

.marcador .nombre-pc{

   left:58%
}

.marcador .puntos{
   font-size: 2rem;
}


.elegi-tu-arma{
margin-bottom: 2rem;

}

.elegi-tu-arma h2{

font-size: 1rem;
font-weight: 400;
margin-bottom: .5rem;
}
.armas{

   display: flex;
   justify-content: center;
   gap: 1.5rem;
  

}

.arma{
 font-size: 2rem;
 padding: .5rem;
 border-radius: .5rem;
 cursor: pointer;
 background-color:burlywood
   
}

.btn{
   margin-top: .5rem;
   font-size: 1rem;
   text-transform: uppercase;
   font-weight: bold;
   border-radius: .5rem;
   border-color: var(--beige);
   margin-top: 1rem;
   cursor: pointer;
}

.mensaje{

   margin-bottom: 2rem;
   line-height: 1.8rem;
}
.eleccion{

   background-color: var(--beige);
   border-radius: .5rem;
   color: #e5e6da;
   padding-left: .5rem;
   padding-inline: .25rem;
   font-weight:bold;
   
  
}

.disabled{
   display: none;
}