
*{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;    
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

header{
    background-color: rgb(37, 37, 37);
    padding: 10px;
    box-shadow: 5px 5px 5px rgb(37, 37, 37);
}

@media(max-width: 915px){
    header {
       text-align: center;
   }
}

body{
    background-color: gray;
}

@media(max-width: 915px){
    body {
       text-align: center;
   }
}

nav{ 
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a{
    color: crimson;
    font-weight: bold;
}


nav a:hover{ 
    font-size: 20px;
}

h2{
    text-align: center;
}

p{
    color: crimson;
    font-weight: bold;
}

.motos{
    background-color: rgb(37, 37, 37);
    margin: 60px;
    padding: 5px;
    border-radius:100px;
    box-shadow: 5px 5px 5px 5px rgb(37, 37, 37);
}

.bordes{
    text-align: center;
    margin: 10px;
    padding: 20px;
    border-radius: 100px;
    background-image: radial-gradient(circle, #808080, #686868, #505050, #3a3a3a, #252525);
}

img{
    height: 300px;
    text-align: center;
}

@media(max-width: 700px){
    img {
       height: 200px;
   }
}

@media(max-width: 500px){
    img {
       height: 120px;
   }
}


