{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    text-align: center;
}

header{
    border-radius: 10px;
    background-color: #fcf5c7;
    box-shadow: 5px 5px 5px ;
}

h1{
    font-family: sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

h2{
    font-family: sans-serif;
}

h3{
    font-family: sans-serif;
    padding-bottom: 5px;
}

nav{
    padding-bottom: 15px;
    padding-left: 15px;
    font-size: 20px;
    font-weight: bold;
}

nav a{
    padding-right: 5px;
    color: black;
}

nav a:hover{
    font-size: 23px;
}

body{
    background-color: #ebebeb;
}

.padre{
    display: grid;
    grid-template-areas: 
    "left center right";
    gap: 15px;
    justify-content: center;
    margin-left: 25px;
    margin-right: 25px;
    padding: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 5px 5px 5px;
}

@media(max-width:850px){

    .padre{
       display: flex;
       flex-wrap: nowrap;
    }
}
@media(max-width:700px){

    .padre{
       display: flex;
       flex-wrap: wrap;
    }
}

.titulo{
    background-image: linear-gradient(to right, #559fff, #4495ff, #338aff, #227fff, #1173ff, #0069ff, #005fff, #0054ff, #0048ff, #003bff, #0029ff, #000cff);
}
.autos{
    padding-top: 15px;
    font-size: 35px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    text-align: center;
    background-image: linear-gradient(to right, #559fff, #4495ff, #338aff, #227fff, #1173ff, #0069ff, #005fff, #0054ff, #0048ff, #003bff, #0029ff, #000cff);
    box-shadow: 5px 5px 5px 0px;
}

.container1{
    grid-area: left;
    padding: 20px;
    background-color: white;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px;
    text-align: center;
}
@media(max-width: 1150px){
    .container1{
        width: 200px;
   }
}

.container2{
    grid-area: center;
    padding: 20px;
    background-color: white;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px;
    text-align: center;
}
@media(max-width: 1150px){
    .container2{
        width: 200px;
   }
}

.container3{
    grid-area: right;
    padding: 20px;
    background-color: white;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px;
    text-align: center;
}
@media(max-width: 1150px){
    .container3{
        width: 200px;
   }
}

img{
    width: 150px;
}

.p{
    text-align: left;
    margin-inline: 15%;
}

span{
    font-weight: bold;
}

button{
    margin: 0px;
    padding: 5px;
    width: 100%;
    background-color: rgb(66, 66, 255);
    font-weight: bold;
}

button:hover{
    background-color: rgb(25, 25, 255);
}

footer{
    color: white;
    background-color: black;
    margin-top: 50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
}

.aaa{
    font-size: 50px;
    color: black;
}

.ful{
display: flex;
flex-direction: column;
gap: 50px;
justify-content: center;
margin: 35px;
}

.total{
    margin-inline: 250px;
    color: white;
    padding: 15px;
    background-color: crimson;
    border-radius: 250px;
    box-shadow: 5px 5px 5px 0px #000000;
}
.total a{
    font-size: 30px;
}
*